@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .clip_path {
        clip-path: polygon(50% 0%, 99% 0, 100% 79%, 50% 96%, 0 78%, 0 0);
    }
    .heading {
        @apply text-[30px] md:text-[35] lg:text-[45] xl:text-[50] uppercase font-bold text-gray-900 leading-[3rem] md:leading-[4rem] text-center
    }
}

/* in Reservation section i need to change calendar and time icon colour change from black to white */

input[type="date"]::-webkit-calendar-picker-indicator{
    filter: invert(1);
}

input[type="time"]::-webkit-calendar-picker-indicator{
    filter: invert(1);
}

input[type="date"]::-webkit-calendar-picker-indicator::after{
    filter: invert(1);
}



